<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
   <%= select_tag(:parttype_id, options_for_select(@parttypes), :prompt => "Select a part") %>
    <%= select_tag(:questiontype_id, options_for_select(@questiontypes), :prompt => "Select a type") %>

    <%= f.input :question_id %>
    <%= f.input :question_text %>
    <%= f.input :options %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
