<h1>Editing Question</h1>


<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.select :category_id, @categories  %>
<%= f.select :parttype_id, @parttypes  %>
  <%= f.select :questiontype_id, @questiontypes  %>
    

    <%= f.input :question_id %>
    <%= f.input :question_text %>
    <%= f.input :options %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>
