<p id="notice"><%= notice %></p>

<p>
  <strong>Permitdetail:</strong>
  <%= @permitdetail.permitdetail_id %>
</p>

<p>
  <strong>Strreply:</strong>
  <%= @permitdetail.strreply %>
</p>

<p>
  <strong>Question text:</strong>
  <%= @permitdetail.question_text %>
</p>

<p>
  <strong>Commonquestion text:</strong>
  <%= @permitdetail.commonquestion_text %>
</p>

<%= link_to 'Edit', edit_permitdetail_path(@permitdetail) %> |
<%= link_to 'Back', permitdetails_path %>
