<p id="notice"><%= notice %></p>
<h1>Categories</h1>




<div class="row">
  <div class="col-md-2">
<%= link_to 'New Category', new_category_path %>
  </div>

  <div class="col-md-10">

    <table class="table table-bordered">
  <thead>
    <tr>
      <th>Category</th>
      <th>Category short name</th>
      <th>Category full name</th>
      <th>Activity</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category_id %></td>
        <td><%= category.category_id_s_name %></td>
        <td><%= category.category_name %></td>
        <td><%= category.activity %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>







